openapi: 3.1.0
info:
  title: BlueMedia WhatsApp BSP API
  version: 1.0.0
  description: |-
    按 BSP 业务链路组织的 HTTP API 参考。除公开端点与 Meta 回调外，所有请求携带 `Authorization: Bearer <API_KEY>`。

    当前视图仅展示客户可用的接口与说明。

    ### 错误码

    | code | httpStatus | retryable | 说明 |
    | --- | --- | --- | --- |
    | UNAUTHENTICATED | 401 | 否 | 缺少或无效 Bearer 令牌 |
    | FORBIDDEN | 403 | 否 | 请求被拒绝 |
    | TENANT_FORBIDDEN | 403 | 否 | 租户、角色或 scope 不足 |
    | VALIDATION_FAILED | 400 / 409 | 否 | 参数或状态冲突 |
    | NOT_FOUND | 404 | 否 | 资源不存在或不属于当前租户 |
    | IDEMPOTENCY_CONFLICT | 409 | 否 | 同一 Idempotency-Key 被用于不同的请求内容 |
    | INSUFFICIENT_FUNDS | 402 | 否 | 信用账户可用余额不足，需充值或调整额度 |
    | BM_BUDGET_EXCEEDED | 402 | 否 | 账户余额充足，但该消息所属 Business Portfolio 的预算已用完；请调整该 Portfolio 的预算上限。`details` 给出 portfolioId / remainingMinor |
    | WHATSAPP_24H_WINDOW_EXPIRED | 409 | 否 | 距客户上次回复已超过 24 小时，此时只能发模板消息；`details.customerAction` 给出下一步 |
    | RATE_LIMITED | 429 | 是 | 退避后重试 |
    | PRICE_IMPORT_INVALID | 400 / 409 | 否 | 费率表 CSV 校验不通过，或当前状态不允许这次操作（例如发布一个已发布的导入）。`details.issues` 逐条带**行号**；存在 high 级 warning 时 `details.warnings` 给出需要确认的清单 |
    | PRICING_UNAVAILABLE | 409 | 否 | 按 market + 类别查不到费率（或该币种当天没有已发布版本）。**不会退化成按 0 计费** —— 缺价格是故障，要有人去补价格表 |
    | ENGAGEMENT_COOLDOWN | 429 | 否 | 该收件人最近从这个号码触发了 Meta 人均互动上限（131049），本地在 24h 冷却期内直接拒绝再发模板 —— 24h 内重试会延长 Meta 的封禁（且不限营销）。请等待或更换收件人，**不要**当作可退避重试 |
    | MARKETING_OPT_OUT | 403 | 否 | 该收件人已在 WhatsApp 里关闭接收本商家的营销消息（`user_preferences` webhook 的 `stop`）。**没有期限**，只有用户自己重新打开才解除 —— 请把该号码从营销名单中移除。硬发的话 Meta 会受理然后在投递阶段判 131050，白占一次预留并在号码质量评级上留一条 failed |
    | UPSTREAM_META_ERROR | 502 | 视响应而定 | Meta 返回了错误。**`message` 就是 Meta 自己那句原文,我们不改写**;`upstream` 里是整段原生信封:`code`（Meta 数字码，按官方建议用它做错误处理）、`details`（`error_data.details`，官方建议的另一个依据）、`userTitle` / `userMsg`（Meta 常把「怎么修」只写在这里）、`type`、`traceId`（`fbtrace_id`，开 Direct Support 工单唯一能带的凭据）、`subcode`（官方标注 v16.0+ 不再返回，**不要**据此写逻辑） |
    | INTERNAL | 500 | 通常是 | 记录请求信息后重试或告警 |

    ### 消息失败码（`GET /v1/messages/{id}` 的 `error.code`）

    与上面的 HTTP 错误码是**两套东西**：这里的码描述一条已被受理的消息为什么最终没送达，通过消息详情和状态 webhook 返回，不是 HTTP 响应的 `error.code`。

    **失败来自 Meta 时，`error.code` 就是下表「Meta 码」那一列的数字**（可直接对 Meta 官方错误码表），`error.message` 是 Meta 原文，`error.meta` 是整段原生信封（含 `details` 与 `fbtrace_id`）。只有本地判定的失败（账户余额不足、Business Portfolio 预算不足、本地 131049 冷却、重试耗尽）没有 Meta 数字码，`error.code` 才是下表左列那种我方码。下表的「说明」是我们写的分类说明，不是 Meta 的原文。

    `retryable` / `customerAction` / `stage` 是**平台的判断**而非 Meta 给的字段：`retryable: false` 的码重试会得到一模一样的结果，`customerAction` 指出该谁去修（`fix_template_params` 是调用方五秒能改好的，`contact_platform_admin` 是我们的事）。

    | 我方码 | Meta 码 | 阶段 | 可重试 | customerAction | 说明 |
    | --- | --- | --- | --- | --- | --- |
    | BM_BUDGET_EXCEEDED | — | 提交 | 否 | raise_bm_budget | 该 Business Portfolio 的预算已用完，请调高其预算上限后重试。 |
    | CREDIT_LINE_NOT_READY | 131042 | 投递 | 否 | authorize_credit_line | 该 WABA 的付款方式或 BlueMedia 信用额度不可用。若额度已挂载，请检查共享给该 Business Portfolio 的**分配额是否为 0**——需要在 Meta Business Suite 的「账单和付款 → 信用额度」中分配额度（API 无法设置）。 |
    | DISPLAY_NAME_NOT_APPROVED | 131037, 2388103 | 提交 | 否 | approve_display_name | 该 555 测试号的显示名未通过审核，需在 Meta 后台修改并等待审核通过。 |
    | FLOW_BLOCKED | 132068 | 提交 | 否 | fix_flow | 该 Flow 处于封禁状态，需先修正 Flow。 |
    | FLOW_THROTTLED | 132069 | 提交 | 否 | fix_flow | 该 Flow 已被限流（最近一小时内已发出 10 条使用该 Flow 的消息），需先修正 Flow。 |
    | INSUFFICIENT_FUNDS | — | 提交 | 否 | contact_platform_admin | 本地信用账户余额不足，请先充值或调整额度。 |
    | INTERNAL | — | 提交 | 是（平台自动重试） | contact_platform_admin | 平台内部错误，正在自动重试；若持续失败请联系平台管理员并提供消息 ID。 |
    | MARKETING_DISABLED_ON_CLOUD_API | 131063 | 提交 | 否 | use_marketing_messages_api | 该 WABA 已关闭 Cloud API 上的营销消息（disable_marketing_messages_on_cloud_api=true），营销类模板需改用 Marketing Messages API 发送。 |
    | MARKETING_EXPERIMENT_EXCLUDED | 130472 | 投递 | 否 | none | 该消息因营销消息实验分组未被发送（Meta 侧的实验对照组行为），不是配置问题。 |
    | MARKETING_OPT_OUT | 131050 | 投递 | 否 | stop_marketing_to_recipient | 收件人已在 WhatsApp 里关闭接收本商家的营销消息。不要重发（同样收不到），请把该号码从营销名单中移除；对方重新开启后 Meta 会通过 user_preferences webhook 通知。 |
    | MEDIA_DOWNLOAD_FAILED | 131052 | 投递 | 否 | check_media | 无法下载用户发来的媒体文件，具体原因见 error.meta.details；可请用户用其他方式发送该文件。 |
    | MEDIA_UPLOAD_FAILED | 131053 | 提交 | 否 | check_media | 消息里的媒体文件无法上传（常见原因是格式不受支持），具体原因见 error.meta.details。 |
    | MESSAGE_TYPE_UNSUPPORTED | 131051 | 提交 | 否 | fix_request_params | 不支持的消息类型，请改用受支持的消息类型。 |
    | MESSAGE_UNDELIVERABLE | 131026 | 投递 | 否 | check_recipient | 消息无法投递：收件号码可能不是 WhatsApp 用户，或未接受最新服务条款。 |
    | META_ENGAGEMENT_LIMIT | 131049 | 投递 | 否 | wait_24h | Meta 为维护生态互动质量未投递该消息，对同一用户建议至少间隔 24 小时再试。 |
    | META_PERMISSION_DENIED | 10, 200 | 提交 | 否 | fix_app_credentials | Meta 拒绝该请求的权限，需检查 App 权限与 Token 授权范围。 |
    | META_RATE_LIMIT | 4, 80007 | 提交 | 是（平台自动重试） | retry_automatically | Meta 接口限流，平台会退避后自动重试。 |
    | META_SERVICE_UNAVAILABLE | 131016, 133004 | 提交 | 是（平台自动重试） | retry_automatically | Meta 服务临时不可用，平台会退避后自动重试。 |
    | META_THROUGHPUT_LIMIT | 130429 | 提交 | 是（平台自动重试） | retry_automatically | Cloud API 吞吐已达上限，平台会退避后自动重试。 |
    | META_TOKEN_INVALID | 190 | 提交 | 否 | fix_app_credentials | Meta 访问令牌无效或已过期，需重新授权。 |
    | PAIR_RATE_LIMIT | 131056 | 提交 | 是（平台自动重试） | retry_automatically | 同一发送号码对同一收件号码在短时间内发送过多，平台会退避后自动重试。 |
    | PAYMENTS_TOS_PENDING | 134011 | 提交 | 否 | contact_platform_admin | 该 WABA 尚未接受 WhatsApp Payments 服务条款，需先按错误信息里的链接接受后再发。 |
    | PHONE_NOT_REGISTERED | 131045, 133010 | 提交 | 否 | register_phone_number | 发送号码的注册状态有问题，需先在 WhatsApp Business Platform 上完成该号码的注册。 |
    | PHONE_NOT_VERIFIED | 133006 | 提交 | 否 | register_phone_number | 该号码需要先完成验证才能注册使用。 |
    | PHONE_SEND_RESTRICTED | 131048 | 提交 | 是（平台自动重试） | retry_automatically | 该号码的发送量被限制（此前消息被大量拦截或标记为垃圾信息）。平台会退避重试；若持续失败请在 WhatsApp Manager 查看该号码的质量评级。 |
    | RECIPIENT_BLOCKED_BY_BUSINESS | 130403 | 投递 | 否 | unblock_recipient | 该商家已在 WhatsApp 上拉黑此用户，需先解除拉黑才能继续给他发消息。 |
    | RECIPIENT_IS_SENDER | 131021 | 提交 | 否 | fix_request_params | 收件号码与发送号码相同，请改发给其他号码。 |
    | REQUEST_PARAM_INVALID | 131009, 135000 | 提交 | 否 | fix_request_params | 请求中有一个或多个参数取值非法，请对照接口文档核对取值范围。 |
    | REQUEST_PARAM_MISSING | 131008 | 提交 | 否 | fix_request_params | 请求缺少必填参数，请对照接口文档补齐。 |
    | RETRIES_EXHAUSTED | — | 提交 | 否 | contact_platform_admin | 多次重试后仍未成功，请查看最后一次失败原因。 |
    | TEMPLATE_CLASSIFICATION_LIMIT | 131064 | 提交 | 否 | contact_platform_admin | 该账号因模板分类违规触及发送上限（模板消息与直发消息都受限）。需检查模板分类是否正确，限制会在强制期结束后自动解除。 |
    | TEMPLATE_DISABLED | 132016 | 提交 | 否 | fix_template | 该模板因多次被暂停已被永久停用，需用不同内容新建一个模板。 |
    | TEMPLATE_NOT_FOUND | 132001 | 提交 | 否 | sync_template | 模板不存在或与 Meta 不同步，请先同步模板并确认名称与语言。 |
    | TEMPLATE_PARAM_FORMAT_INVALID | 132012 | 提交 | 否 | fix_template_params | 模板参数格式不符合模板定义（如日期/货币等结构化参数写法错误）。 |
    | TEMPLATE_PARAM_MISMATCH | 132000 | 提交 | 否 | fix_template_params | 模板参数数量与模板定义不一致，请按模板声明的占位符数量与顺序传 components。 |
    | TEMPLATE_PAUSED | 132015 | 提交 | 否 | fix_template | 该模板因质量评级过低被暂停发送，需修改模板内容并重新过审。 |
    | TEMPLATE_POLICY_VIOLATION | 132007 | 提交 | 否 | fix_template | 模板内容违反 WhatsApp 政策，需修改模板并重新提交审核。 |
    | TEMPLATE_TEXT_TOO_LONG | 132005 | 提交 | 否 | fix_template | 模板译文超长，需在 WhatsApp Manager 里修改模板内容。 |
    | UPSTREAM_META_ERROR | — | 提交 | 是（平台自动重试） | retry_automatically | 上游暂时不可用，平台会自动重试。 |
    | WABA_MAINTENANCE_MODE | 131057 | 提交 | 是（平台自动重试） | retry_automatically | 该 WABA 处于维护模式（例如正在做吞吐升级），平台会退避后自动重试。 |
    | WABA_RESTRICTED | 131031 | 提交 | 否 | contact_platform_admin | WABA 因违反平台政策被限制或数据无法验证，需平台管理员在 Meta 后台处理。 |
    | WHATSAPP_24H_WINDOW_EXPIRED | 131047 | 提交 | 否 | use_template_or_wait_for_reply | 距客户上次回复已超过 24 小时，此时只能发送已审核的模板消息，或等客户先回话。 |

    本文件由服务端公开契约同步，并在文档仓补充 Agent 可验证的消息与 Webhook Schema。
  x-source: https://api.bsptest.com/portal/openapi.json
servers:
  - url: https://api.bsptest.com
tags:
  - name: 接入准备与鉴权
    x-slug: auth
    description: 接入准备与鉴权相关接口。
  - name: 消息发送与状态
    x-slug: messaging
    description: 消息发送与状态相关接口。
  - name: WhatsApp 客户接入
    x-slug: onboarding
    description: WhatsApp 客户接入相关接口。
  - name: 商业验证（PLBV）
    x-slug: plbv
    description: 商业验证（PLBV）相关接口。
  - name: 资产与号码配置
    x-slug: assets
    description: 资产与号码配置相关接口。
  - name: 模板、Flow 与媒体
    x-slug: content
    description: 模板、Flow 与媒体相关接口。
  - name: 收件箱与会话
    x-slug: inbox
    description: 收件箱与会话相关接口。
  - name: Webhook 集成
    x-slug: webhooks
    description: Webhook 集成相关接口。
  - name: 概览统计
    x-slug: overview
    description: 概览统计相关接口。
  - name: 账务与服务状态
    x-slug: operations
    description: 账务与服务状态相关接口。
paths:
  /whoami:
    get:
      tags:
        - 接入准备与鉴权
      summary: 验证 API Key，并返回当前账户标识与 API 服务版本。
      x-notes: 这是无副作用的凭证校验接口。`tenantId` 用于确认当前 API Key 对应的账户，`platformVersion` 仅表示当前 API 进程版本。响应可能包含额外诊断字段；客户集成不应依赖这些字段判断权限。
      x-summary-en: Validate the API key and return its account identifier and the version of the API process serving the request.
      x-notes-en: This is a side-effect-free credential check. The documented fields are stable for customer integrations; additional diagnostic fields may be present and should not be used for authorization decisions.
      x-nav-label: 验证 API Key
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                required:
                  - tenantId
                  - platformVersion
                properties:
                  tenantId:
                    type: string
                    description: 当前 API Key 对应的账户标识
                  platformVersion:
                    type: string
                    description: Version of the API process serving this request
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_whoami
  /oauth/token:
    post:
      tags:
        - 接入准备与鉴权
      summary: OAuth token 端点：支持 authorization_code 与 refresh_token。
      x-notes: |-
        #### 响应

        `access_token`、`refresh_token`、`token_type: Bearer`、`expires_in`（秒）、`scope`、`account_id`、`project_id`、`connection_id`。

        #### 有效期与轮换

        access token **1 小时**，refresh token **30 天**。每次 refresh 都**轮换**：旧的一对立即撤销，签发全新一对。这不是为了省事——refresh token 泄露后，轮换让泄露者与真客户端只有一个能继续用，另一个的下次 refresh 失败即是异常信号；而「续期同一行」会让泄露副本永久可用且没有任何迹象。

        #### 失败语义

        authorization code 的「不存在 / 已用过 / 已过期」返回**同一句文案**，刻意不区分——区分开来这个端点就成了 code 状态的探测器。code 的消费用一条条件 UPDATE 完成（`WHERE used_at IS NULL AND expires_at > now()`，数据库时钟判定），而不是先查再写：两个并发请求会同时通过查询各换到一份 token，而授权码重放正是 OAuth 最经典的攻击。

        #### 用 access token 调业务接口

        `Authorization: Bearer oat_...`，与 API Key 使用相同的请求头。Access token 的可访问范围固定为授权时选择的 Business Portfolio，不能通过请求参数扩大，也不能访问其它客户资产。
      x-nav-label: OAuth token 端点
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  description: string · 必填 — `authorization_code` 或 `refresh_token`
                client_id:
                  type: string
                  description: "string · 必填 — "
                client_secret:
                  type: string
                  description: string · 必填 — 客户端认证方式就是它——所以本端点**不挂 API Key 鉴权**
                code:
                  type: string
                  description: string · 可选 — grant_type=authorization_code 时必填
                redirect_uri:
                  type: string
                  description: string · 可选 — grant_type=authorization_code 时必填，且必须与签发时**逐字一致**（RFC 6749 §4.1.3）
                code_verifier:
                  type: string
                  description: string · 可选 — 授权时带了 code_challenge 就**必须**带它，否则 400——允许省略等于让截获 code 的人一句不传就绕过整个 PKCE
                refresh_token:
                  type: string
                  description: string · 可选 — grant_type=refresh_token 时必填
              required:
                - grant_type
                - client_id
                - client_secret
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_oauth_token
  /v1/conversions/events:
    post:
      tags:
        - 消息发送与状态
      summary: 上报一条转化事件（Conversions API for business messaging）。返回 202 表示已排队，**不代表已发给 Meta**。
      description: 所需 scope：`messages:send`
      x-notes: |-
        #### 为什么是 202，不是「已上报」

        事件先落库、由调度器异步发给 Meta。两个原因：一是另一条来源（`automatic_events` webhook）是在 webhook 中继的**事务里**捕获的，在事务里做 Graph 往返会持住整批事件的行锁，而事务回滚后我们已经报过一个从未落库的转化；二是上报会失败（客户还没绑 Pixel、token 过期、Meta 5xx），而事件不可重造。用 `GET /v1/conversions/events` 看每条的 `status`。

        #### datasetBound=false 意味着什么

        当前 Business Portfolio 还没有 Pixel（dataset）——事件已经**保存**，但状态是 `skipped`，不会发出。Pixel 是客户在嵌入式注册（ES v4，登录配置里勾选 Conversions API）时选择的，Graph API 上查不到这个绑定关系。补绑之后这些事件可以重放。

        #### 金额单位

        请求里的 `value` 是**主单位**（250 = 250 元/美元），与 Meta 的 `custom_data.value` 一致；平台内部按 minor units 存（与账本同一表示法，避免浮点误差），只在发给 Meta 的出口换算一次。

        #### 没有 ctwaClid 的对话无法上报

        `ctwa_clid` 只在用户**点击 Click-to-WhatsApp 广告**进来的那条消息里出现（WhatsApp Status 广告位不带它）。普通对话没有可归因的点击，Meta 不接受。
      x-nav-label: 上报一条转化事件
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portfolioId:
                  type: string
                  description: string · 必填 — 事件所属的 Business Portfolio，bm_...（Pixel 绑在它上面）
                ctwaClid:
                  type: string
                  description: string · 必填 — 广告点击 id。取自 `GET /v1/conversations/{id}` 的 `ctwaClid`
                eventName:
                  type: string
                  description: string · 必填 — Meta 标准事件名：Purchase / LeadSubmitted / AddToCart / InitiateCheckout
                value:
                  type: number
                  description: number · 可选 — **主单位**金额（与 Meta 的 custom_data.value 一致）。必须与 currency 同时给
                currency:
                  type: string
                  description: string · 可选 — ISO 4217，三位
                timestamp:
                  type: integer
                  description: integer · 可选 — unix 秒，事件**真实发生**时间。省略取当前时间
                idempotencyKey:
                  type: string
                  description: string · 可选 — 幂等键。省略时按「点击 + 事件名 + 秒级时间」自动生成
              required:
                - portfolioId
                - ctwaClid
                - eventName
              example:
                portfolioId: bm_x
                ctwaClid: <CTWA_CLID>
                eventName: Purchase
                value: 250
                currency: USD
            example:
              portfolioId: bm_x
              ctwaClid: <CTWA_CLID>
              eventName: Purchase
              value: 250
              currency: USD
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_conversions_events
    get:
      tags:
        - 消息发送与状态
      summary: 列出当前授权范围内的转化事件及上报状态。
      description: 所需 scope：`messages:read`
      x-notes: |-
        查询参数：`limit`（默认 50，最大 200）、`status`、`portfolioId`（只看指定 Business Portfolio）。

        `status` 的含义：`pending` 待上报（含退避重试中）、`sending` 本轮正在上报、`sent` 已被 Meta 接受、`failed` 不可重试的失败（`lastError` 是原因）、`skipped` 落库时该 Business Portfolio 还没绑定 Pixel。

        `source` 区分事件来源：`api` 是本接口报的，`automatic_events` 是 Meta 用 NLP 从广告对话里自动识别出来的（需要客户在接入时勾选「自动识别订单和线索」）。
      x-nav-label: 列出当前授权范围内的转化事件及上报状态
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_conversions_events
  /v1/messages:
    post:
      tags:
        - 消息发送与状态
      summary: 提交出站消息，返回 202 与 accepted 状态。建议携带业务唯一的 Idempotency-Key（最长 200 字符）；同租户重复 key 返回同一消息；默认限流 600 条/分钟。
      description: 所需 scope：`messages:send`
      x-notes: |-
        #### 模板消息的参数绑定

        `components` 里的 `parameters` 必须与创建模板时声明的占位符数量和顺序**完全一致**，否则 Meta 返回参数不匹配错误。模板类型不受 24 小时客服窗口限制，可随时发送。

        #### 24 小时窗口的本地预检

        窗口外发自由格式消息（非 template）会在**落库前**本地判定并直接返回 `409 WHATSAPP_24H_WINDOW_EXPIRED`，不会走到 Meta 那一层浪费一次信用预留。但本地判定只挡"确定关闭"的情况：本地认为窗口开着、实际已关闭的消息，仍可能被 Meta 拒绝，那种情况走消息失败码的正常回落流程（见「错误码」页的消息失败码表）。

        #### 媒体消息的限制

        按类型有独立的大小与格式限制（图片约 5MB、音视频约 16MB、文档约 100MB），超限由 **Meta 在投递阶段**拒绝，平台不做预检——超限消息会先拿到 202 accepted，之后才通过状态回调失败。

        #### 收件人可以是手机号，也可以是 BSUID

        `to`（手机号）与 `toUserId`（BSUID）**至少给一个**，都给时**以手机号为准**（与 Meta 的优先级一致）。

        BSUID 是 Meta 从 2026 年 4 月起在每条入站消息里下发的用户标识（形如 `US.13491208655302741918`，按业务组合唯一），可以从 `GET /v1/conversations` 的 `contactUserId` 取到。**它是某些会话唯一可用的收件人标识** —— 用户启用 WhatsApp 用户名后，除非你与他 30 天内互动过，Meta 不会再下发手机号。

        两条限制：

        - **one-tap / zero-tap / copy-code 认证模板不能发给 BSUID**（Meta 要求这几种必须用手机号）。平台在发送前本地拒掉并说明原因，而不是让你拿到一个含糊的 `131062` —— 这类模板通常是登录验证码，失败意味着用户登不进去。
        - BSUID **按 Business Portfolio 唯一**：拿 A 客户的 BSUID 用 B 客户的号码发送会失败。
      x-summary-en: Queue an outbound message. Returns 202 with status `accepted` — delivery is asynchronous; poll GET /v1/messages/{id} or subscribe to webhooks for the outcome.
      x-notes-en: |-
        Send an `Idempotency-Key` header (max 200 chars) keyed on your own business id: a repeated key within the current account returns the original message instead of sending twice. The default rate limit is 600 messages/minute for the current account.

        Free-form types (text, image, document, …) require an open 24-hour customer service window — it opens when the customer messages you, and once it closes the request is refused locally with `409 WHATSAPP_24H_WINDOW_EXPIRED` before anything is persisted or charged. Outside the window only approved templates can be sent. The local check only blocks the definitely-closed case; a window we believe is open can still be rejected by Meta.

        Recipient: pass `to` (E.164 phone, no `+`) or `toUserId` (business-scoped user id, e.g. `US.13491208655302741918`). At least one is required; if both are given the phone wins, matching Meta. One-tap / zero-tap / copy-code authentication templates cannot be delivered to a BSUID and are refused locally, because Meta returns an unactionable error and these are usually login codes.

        Credit is reserved before the send and settled when Meta accepts. Meta bills per delivery, so a message Meta accepts but later fails to deliver is credited back automatically.
      x-nav-label: 提交出站消息
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: 业务唯一键，最长 200 字符；同租户重复 key 返回同一消息，不会重复发送
          schema:
            type: string
            maxLength: 200
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageRequest"
            examples:
              text:
                value:
                  phoneNumberId: pn_01923abc
                  to: "8613800138000"
                  type: text
                  text:
                    body: 你好
                    preview_url: false
              image:
                value:
                  phoneNumberId: pn_01923abc
                  toUserId: US.13491208655302741918
                  type: image
                  image:
                    link: https://cdn.example.com/image.jpg
                    caption: 图片说明
      responses:
        "202":
          description: 请求已进入异步发送流程；不代表已送达。幂等重放可能返回原消息的当前状态。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageRecord"
        "400":
          description: 请求体、Idempotency-Key 或收件人格式无效。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: API Key 缺失或无效。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: scope 不足，或收件人已退订营销消息。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 发送号码不存在或不属于当前授权范围。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: 幂等键冲突，或 24 小时客服窗口已关闭。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: 超过调用频率，或命中 Meta 人均互动冷却。请根据 error.retryable 决定是否退避重试。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: 平台内部错误。记录 X-Request-Id 后重试或联系支持。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_messages
    get:
      tags:
        - 消息发送与状态
      summary: 列出当前账户最近 50 条消息，支持 keyset 翻页与状态、时间筛选。
      x-notes: |-
        #### 分页是 keyset，不是 offset

        `limit`（默认 50，夹在 1–200）+ `before`（上一页最后一行的 `createdAt`，ISO 字符串）。与 `GET /v1/conversations` 同一套：按 `created_at desc` 翻页，**翻页过程中新到的消息不会把后面的行往后挤**（offset 会）。`(tenant_id, created_at desc)` 上有索引，而 `OFFSET n` 仍要扫完前 n 行再丢掉，越翻越慢。

        **响应仍是裸数组，没有 `total`。** 给这张表加 `COUNT(*)` 与 `GET /v1/webhook-endpoints` 不给投递计数是同一个理由：消息量线性增长，那个计数会越来越慢。判断"到底了"的方式是**这一页不满 `limit`**。

        #### 筛选

        `status` 精确匹配（`accepted`/`sending`/`submitted`/`sent`/`delivered`/`read`/`failed`）；`from`/`to` 是 `createdAt` 的闭区间，ISO 字符串。

        **无法解析的值一律忽略而不是 400**，与 `GET /v1/billing-console/ledger` 的 `from`/`to` 一致：调用方多半是看板上的一个控件，一个半输入状态（`2026-0`）不该让整页 400；忽略的语义是"这一侧不设边界"，与不传相同。拼错的 `status` 会得到空列表 —— 而空列表在界面上是看得见的。

        #### 不传任何参数

        默认返回当前账户最近 50 条消息。新增筛选参数都是可选项，不传时保持原有返回行为。
      x-nav-label: 列出当前账户最近 50 条消息
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: 每页条数。超出 1..200 时服务端会夹取到边界值。
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 上一页最后一条消息的 createdAt；无法解析时忽略。
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: &a5
              - accepted
              - sending
              - submitted
              - sent
              - delivered
              - read
              - failed
          description: 精确匹配消息状态。服务端当前对未知值返回空数组；客户端应按枚举预校验。
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: createdAt 闭区间下界；无法解析时忽略。
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: createdAt 闭区间上界；无法解析时忽略。
      responses:
        "200":
          description: 按 createdAt 倒序返回裸数组；没有 total。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MessageRecord"
        "401":
          description: API Key 缺失或无效。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: 当前凭证不能访问该资源。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: 平台内部错误。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_messages
  /v1/messages/read:
    post:
      tags:
        - 消息发送与状态
      summary: 标记一条入站消息为已读(可选附带输入中指示器)；实时生效、不计费，不是发送。
      description: 所需 scope：`messages:send`
      x-notes: 直连 Meta 实时接口，不经过 Transactional Outbox、不占用发送配额/限流；typing=true 时附带的输入中指示器只在很短时间内（约 25 秒或下一条消息之前）生效，且只有窗口内、messageId 对应的原始入站消息仍有效（Meta 建议 30 天内标记）才会成功。
      x-nav-label: 标记一条入站消息为已读
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phoneNumberId:
                  type: string
                  description: string · 必填 — 平台内号码 ID，pn_...
                messageId:
                  type: string
                  description: string · 必填 — 入站消息的 wamid.*
                typing:
                  type: boolean
                  description: boolean · 可选 — true 时附带「对方正在输入」指示器
              required:
                - phoneNumberId
                - messageId
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_messages_read
  /v1/messages/{id}:
    get:
      tags:
        - 消息发送与状态
      summary: 读取最终状态、wamid 和失败原因。
      x-notes: |-
        状态流转：`accepted` → `sending` → `submitted` → `sent` → `delivered` → `read`，任一环节都可能转 `failed`。**`submitted` 只代表 Meta 收下了请求并返回 wamid，不等于已发出**；`sent` 是独立的状态回调，`delivered` 才是到达设备。

        失败时，来自 Meta 的 `error.code` 就是 Meta 数字码（可直接对照官方错误码表）；只有账户余额不足、Business Portfolio 预算不足、本地 131049 冷却或重试耗尽等本地判定，才使用我方错误码。`error.message` 是 Meta 原文，不改写；`error.meta` 是整段原生信封（`details` / `userMsg` / `type` / `fbtrace_id`，最后一个是提交 Meta Direct Support 工单时需要的凭据）。`retryable` / `customerAction` / `stage` 是 BlueMedia 的判断而非 Meta 字段（submit 表示尚未投递就被拒，delivery 表示 Meta 已受理后才失败）；同一个失败状态背后可能是性质完全不同的失败，不能只看状态判断是否应该重试。
      x-summary-en: "Read one message: current status, Meta message id (wamid), and — when it failed — a classified failure code plus the action the caller should take."
      x-notes-en: |-
        Status lifecycle: `accepted` -> `sending` -> `submitted` -> `sent` -> `delivered` -> `read`, or `failed` at any point. **`submitted` means Meta accepted the request and returned a wamid — it does not mean the message was sent**; `sent` is a separate status webhook and `delivered` is arrival on the device.

        On failure the response carries `error.code` (**Meta’s own numeric code** when the failure came from Meta; our policy code only for locally-detected failures such as insufficient funds or the local 131049 cooldown), `error.message` (**Meta’s own text, unmodified**), `error.meta` (Meta’s full native error envelope: `details`, `userMsg`, `type`, and `fbtrace_id` — the last being the only identifier a Meta Direct Support ticket can be opened with), `stage` (`submit` = it never reached delivery, `delivery` = Meta accepted it first) and `customerAction`, which says who fixes it: `fix_template_params` is yours to fix in seconds, `contact_platform_admin` is ours. Codes with `retryable: false` will fail identically on retry.
      x-nav-label: 读取最终状态、wamid 和失败原因
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 消息当前状态以及结构化失败原因。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageDetails"
        "401":
          description: API Key 缺失或无效。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: 当前凭证不能访问该资源。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 消息不存在或不属于当前账户。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: 平台内部错误。
          headers:
            X-Request-Id:
              description: 请求追踪 ID；错误响应始终返回。
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_messages_id
  /v1/broadcasts:
    post:
      tags:
        - 消息发送与状态
      summary: 创建群发（批量模板发送）。返回 202 —— 响应返回时一条都还没发出去：真正的发送由平台按节流速度逐条推进。
      description: 所需 scope：`messages:send`
      x-notes: |-
        #### 它和自己循环调 POST /v1/messages 的区别
        节流、去重、中途停机恢复和费用预检都在平台这一侧。Cloud API 每个号码默认 80 msg/s（升级后 1000，与 WhatsApp Business app 共存的号码只有 20），超了返回 130429；平台按「每轮条数 × 每秒一轮」控速，默认约 50 msg/s。

        #### 创建时会做的四件事
        - **模板只校验一次**：未审核 / 该号码所属 WABA 下不存在 → 直接 404/409，而不是变成几万条失败收件人。
        - **号码去重**：`+86 133…`、`86133…`、带空格与连字符的写法视为同一个人，只发一次。响应里 `submitted` / `accepted` / `duplicates` 分别是提交数、落库数、被去掉的重复数。
        - **无效号码逐条给原因**：`invalid` 数组里是 `{ to, reason }`（empty / not_a_number / length_out_of_range）。只判断「明显不是号码」——国家码是否存在、号码是否注册过 WhatsApp 只有 Meta 知道，平台不猜。
        - **费用预检**：预估 = 去重后人数 × 单条预估额度。余额不够整场活动时直接返回 402 并带上 `requiredMinor` / `availableMinor`，而不是发到一半停下。

        #### warnings 要看
        `warnings` 不阻断创建，但每一条都会真实影响投递结果：
        - 人数超过该号码所属 **Business Portfolio** 的消息限额（新组合只有 250 个唯一用户/24h，且被组合下所有号码共用），超出部分会被 Meta 拒绝；
        - 本地不知道限额档位（没同步过）——先调 POST /v1/phone-numbers/{id}/refresh；
        - MARKETING 模板发给 +1 号码：WhatsApp 不向美国号码投递营销模板（加拿大同为 +1，本地无法区分，所以平台只提示、不擅自丢弃）；
        - MARKETING 模板受**人均频次上限**约束，超限的收件人以 131049 失败，且 24 小时内不得重试（平台不会自动重试这类失败）；
        - 号码质量评分为 YELLOW/RED 时做大批量营销发送，会进一步拉低评分并可能触发限额下调。

        #### 幂等
        每个收件人对应的消息使用固定幂等键 `bcast:<recipientId>`，所以派发进程重启不会给同一个人重复发。活动本身没有幂等键：重复 POST 会创建两个活动。
      x-summary-en: Create a bulk template broadcast. Recipients are normalised and de-duplicated, the whole campaign cost is pre-checked against the balance, and dispatch is paced server-side. 202 means queued — nothing has been sent yet when the response returns.
      x-notes-en: |-
        Why this exists instead of looping over POST /v1/messages: throughput and messaging limits are facts only the platform can observe (80 msg/s per number by default, 20 for coexistence numbers; the per-portfolio messaging limit starts at 250 unique users / 24h). A client cannot pace against limits it cannot see.

        Template sendability is validated once, up front — a PENDING template is one 409 here instead of 50k failed recipients. Running out of credit **pauses** the campaign (with `pauseReason`) rather than failing the remaining recipients, so top-up-and-resume works. `dryRun: true` validates and prices without persisting anything.

        `warnings` carries marketing facts that are deliberately not refusals: audience above the portfolio limit, unknown tier, US (+1) recipients under a MARKETING template (WhatsApp does not deliver marketing to US numbers), the per-user marketing frequency cap, and a YELLOW/RED quality rating.
      x-nav-label: 创建群发
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: string · 必填 — 活动名，给人看的，如「双十一预热」
                phoneNumberId:
                  type: string
                  description: string · 必填 — 发送号码，pn_...
                template:
                  type: object
                  description: "object · 必填 — { name, language: { code }, components? }；一个活动只发一个模板"
                  additionalProperties: true
                recipients:
                  type: array
                  description: array · 必填 — [{ to, variables? }]，最多 20000 条；variables 覆盖 template.components
                  items: {}
                scheduledAt:
                  type: string
                  description: ISO 8601 · 可选 — 到点才开始派发；省略即立刻开始
                  format: date-time
                dryRun:
                  type: boolean
                  description: boolean · 可选 — true 只校验与试算，不落库
              required:
                - name
                - phoneNumberId
                - template
                - recipients
              example:
                name: 双十一预热
                phoneNumberId: <YOUR_PHONE_NUMBER_ID>
                template:
                  name: promo_v1
                  language:
                    code: zh_CN
                recipients:
                  - to: "8613800138000"
                  - to: "8613800138001"
                    variables:
                      - type: body
                        parameters:
                          - type: text
                            text: 张三
            example:
              name: 双十一预热
              phoneNumberId: <YOUR_PHONE_NUMBER_ID>
              template:
                name: promo_v1
                language:
                  code: zh_CN
              recipients:
                - to: "8613800138000"
                - to: "8613800138001"
                  variables:
                    - type: body
                      parameters:
                        - type: text
                          text: 张三
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_broadcasts
    get:
      tags:
        - 消息发送与状态
      summary: 列出当前账户的群发活动，含派发进度与投递结果计数。
      description: 所需 scope：`messages:read`
      x-notes: limit 默认 50、上限 200。每条含 `dispatch`（派发进度）与 `delivery`（投递结果）两组计数，含义不同，见 GET /v1/broadcasts/{id}。
      x-nav-label: 列出当前账户的群发活动
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_broadcasts
  /v1/broadcasts/{id}:
    get:
      tags:
        - 消息发送与状态
      summary: 单个活动：状态、预估费用、派发进度与投递结果。
      description: 所需 scope：`messages:read`
      x-notes: |-
        #### dispatch 与 delivery 是两个不同的口径
        `dispatch` 是**派发**进度（pending / dispatching / queued / failed / skipped / canceled）——「有没有把这条消息交出去」。`delivery` 是**投递**结果，按 messages.status 聚合（accepted / sending / sent / delivered / read / failed）——「WhatsApp 那边怎么样了」。

        `dispatch.failed` 是派发本身失败（比如号码被停用），`delivery.failed` 是 Meta 拒绝或投递失败，两者不相等也不该相加。

        #### status = completed 不代表都送到了
        completed 只表示「所有收件人都已交给发送链路」。投递结果是异步回来的，要看 `delivery` 计数；失败的消息会按既有规则自动冲正扣费。
      x-nav-label: 单个活动
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_broadcasts_id
  /v1/broadcasts/{id}/recipients:
    get:
      tags:
        - 消息发送与状态
      summary: 收件人明细。status 过滤用来直接拉「哪些人失败了」。
      description: 所需 scope：`messages:read`
      x-notes: status 取值同 dispatch 计数的键（pending / dispatching / queued / failed / skipped / canceled）。limit 默认 200、夹在 1–1000。每行的 `messageId` 指向 messages，投递状态与失败码从 GET /v1/messages/{id} 读——本表不重复维护投递状态。
      x-nav-label: 收件人明细
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_broadcasts_id_recipients
  /v1/broadcasts/{id}/pause:
    post:
      tags:
        - 消息发送与状态
      summary: 暂停派发。已经交给 WhatsApp 的消息追不回来。
      description: 所需 scope：`messages:send`
      x-notes: 只对 scheduled / running 的活动有效，其它状态返回 409 并在 details.status 里说明当前状态。余额耗尽时平台会**自动**暂停活动并把 pauseReason 设为 insufficient credit——充值后调 resume 即可继续发剩下的人，不需要重建活动。
      x-nav-label: 暂停派发
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: string · 可选 — 暂停原因，会写进活动的 pauseReason
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_broadcasts_id_pause
  /v1/broadcasts/{id}/resume:
    post:
      tags:
        - 消息发送与状态
      summary: 恢复一个暂停的活动，从剩下的收件人继续。
      description: 所需 scope：`messages:send`
      x-notes: 只对 paused 有效。恢复会清掉 pauseReason；已经 failed 的收件人不会被重发（要重发请对这批号码新建一个活动）。
      x-nav-label: 恢复一个暂停的活动
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_broadcasts_id_resume
  /v1/broadcasts/{id}/cancel:
    post:
      tags:
        - 消息发送与状态
      summary: 取消活动，并把尚未派发的收件人一次性作废。不可恢复。
      description: 所需 scope：`messages:send`
      x-notes: 返回 `canceledRecipients`（被作废的待派发人数）。已经派发出去的消息无法撤回——WhatsApp 没有撤回接口，那些消息该送到还是会送到，也照常计费。
      x-nav-label: 取消活动
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_broadcasts_id_cancel
  /v1/onboarding/es-events:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 上报一次 Embedded Signup 会话事件（客户放弃在哪一屏、或客户自助报错）。恒 202。
      description: 所需 scope：`onboarding:write`
      x-notes: |-
        #### 为什么要有这个接口
        Embedded Signup 的会话信息（session info logging，ES v3 起默认开启）**只在浏览器的一次 `message` 事件里出现**，Graph API 上查不到。里面有两样东西丢了就再也拿不回来：客户在哪一屏放弃（唯一的接入漏斗数据），以及客户自助报错时的 `session_id`（找 Meta 支持的凭据）。

        #### 它是排查数据，不是业务写入
        恒返回 202，不校验业务语义，落库失败也只记日志。前端应当 fire-and-forget：一次上报失败绝不能变成客户屏幕上的报错。请求体是 `.strict()` 的，多传字段会 400——**尤其不要把 `code` 传进来**，那是 30 秒有效的凭证，不进这张表。
      x-nav-label: 上报一次 Embedded Signup 会话事件
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portfolioId:
                  type: string
                  description: string · 必填 — 这次流程针对的 Business Portfolio，bm_...
                event:
                  type: string
                  description: string · 必填 — ES message 事件的 event 值：FINISH* / CANCEL / ERROR
                esVersion:
                  type: string
                  description: v2 | v3 | v4 · 可选 — 发起时用的 ES 版本
                  enum:
                    - v2
                    - v3
                    - v4
                currentStep:
                  type: string
                  description: string · 可选 — 放弃时所在的屏，如 PHONE_NUMBER_SETUP
                errorCode:
                  type: string
                  description: string · 可选 — 客户在流程里自助报错时 Meta 给的错误码
                errorMessage:
                  type: string
                  description: string · 可选 — 同上，展示给客户的那句错误文案
                metaSessionId:
                  type: string
                  description: string · 可选 — Meta 的 session_id——**找 Meta 支持时必须提供**
                timestamp:
                  type: integer
                  description: integer · 可选 — Meta 给的 unix 秒（仅报错事件有）
              required:
                - portfolioId
                - event
              example:
                portfolioId: bm_x
                event: CANCEL
                currentStep: PHONE_NUMBER_SETUP
                esVersion: v4
            example:
              portfolioId: bm_x
              event: CANCEL
              currentStep: PHONE_NUMBER_SETUP
              esVersion: v4
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_es_events
  /v1/onboarding/invitations/{token}/es-events:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 【客户侧，无需鉴权】客户在邀请页上放弃流程或自助报错时的上报。恒 202。
      x-notes: 归属（租户 / Portfolio）只从链接里的 token 解析，body 无法指定，与 `/complete` 同一条规矩。**token 无效时也返回 202**：这是排查数据，报错只会让这个接口变成一个「该 token 是否存在」的探测器。与其他客户侧接口一样按来源 IP 限流。
      x-nav-label: 客户在邀请页上放弃流程或自助报错时的上报
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  description: string · 必填 — FINISH* / CANCEL / ERROR
                currentStep:
                  type: string
                  description: string · 可选 — 放弃时所在的屏
                errorCode:
                  type: string
                  description: string · 可选 — Meta 错误码
                errorMessage:
                  type: string
                  description: string · 可选 — Meta 错误文案
                metaSessionId:
                  type: string
                  description: string · 可选 — Meta session_id
                timestamp:
                  type: integer
                  description: integer · 可选 — unix 秒
              required:
                - event
      security: []
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_invitations_token_es_events
  /v1/onboarding/embedded-signup:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 完成接入，返回 201 和可追踪的操作记录。
      description: 所需 scope：`onboarding:write`
      x-notes: |-
        #### 编排的五个阶段
        - 用 `code` 向 Meta 换取该 Portfolio 的客户 System User token，加密（AES-256-GCM）保存。
        - 校验该 token 确实拥有目标 WABA/号码的资产授权。
        - 向 Meta 订阅应用（subscribeApp）。
        - 若本次请求带了号码注册意图，调用注册（PIN 懒生成并加密保存）。
        - 把最终的 WABA/号码详情同步落库。

        #### 失败了怎么办
        进度落库、可恢复：任一步失败即中断，`currentStep`/`lastError*` 停在失败处，此后必须调用 retry 接口**从断点续跑**——重新 POST 本接口会新建一个全新的 operation，而不是继续旧的。

        portfolioId 必须已存在于当前租户下，不存在直接 404，不会隐式创建。
      x-nav-label: 完成接入
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portfolioId:
                  type: string
                  description: string · 必填 — 平台内 Business Portfolio ID，bm_...
                code:
                  type: string
                  description: string · 必填 — Meta OAuth 一次性授权码
                wabaId:
                  type: string
                  description: string · 必填 — Meta 返回的 WABA ID
                phoneNumberId:
                  type: string
                  description: string · 可选 — Meta 返回的 Phone Number ID。**可以没有**：ES v3 起客户可以不带号码收尾，号码之后再补
                esVersion:
                  type: string
                  description: v2 | v3 | v4 · 可选 — 本次流程用的 ES 版本，仅用于排查（灰度期两套并存）
                  enum:
                    - v2
                    - v3
                    - v4
                sessionInfo:
                  type: object
                  description: object · 可选 — ES message 事件回传的会话信息原文，含客户选中的资产 id（`dataset_ids` 即 Pixel/dataset）
                  additionalProperties: true
              required:
                - portfolioId
                - code
                - wabaId
              example:
                portfolioId: bm_x
                code: <META_OAUTH_CODE>
                wabaId: <META_WABA_ID>
                phoneNumberId: <META_PHONE_NUMBER_ID>
            example:
              portfolioId: bm_x
              code: <META_OAUTH_CODE>
              wabaId: <META_WABA_ID>
              phoneNumberId: <META_PHONE_NUMBER_ID>
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_embedded_signup
    get:
      tags:
        - WhatsApp 客户接入
      summary: 查询最近操作；limit 为 1 至 50。
      description: 所需 scope：`onboarding:read`
      x-notes: 按创建时间倒序返回该租户最近的 operation 摘要列表（不含逐步骤详情，只有单条查询的 GET /{operationId} 才展开完整 steps 数组）；limit 越界（<1 或 >50）会被静默夹到 1–50 区间而不是报 400 或忽略，调用方不需要自己做边界处理。
      x-nav-label: 查询最近操作
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_onboarding_embedded_signup
  /v1/onboarding/embedded-signup/{operationId}:
    get:
      tags:
        - WhatsApp 客户接入
      summary: 查询步骤、错误和已落地资产；ID 为 onb_...。
      description: 所需 scope：`onboarding:read`
      x-notes: 返回完整的 steps 数组（每一步的 id、status，用于渲染进度条）与 lastError/lastErrorCode 等字段，是诊断"卡在哪一步"最直接的入口；operationId 格式（`onb_` 前缀 + UUIDv7）不匹配会直接 400，请求根本不会打到数据库层，避免拿一个随手编的 id 去探测系统。
      x-nav-label: 查询步骤、错误和已落地资产
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_onboarding_embedded_signup_operationId
  /v1/onboarding/embedded-signup/{operationId}/retry:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 从失败步骤恢复；号码注册使用平台自动生成并加密保存的默认 PIN。
      description: 所需 scope：`onboarding:write`
      x-notes: |-
        内部先做一次原子抢占（claim）把 operation 状态切到"处理中"，抢不到（例如已经在跑，或被另一个并发请求抢先）时直接返回当前状态而不会报错或重复触发编排——这让"手指抖动多点了几次重试按钮"变成安全操作而不是并发 bug 的来源。

        #### 什么时候带 `code`
        - **省略 `code`**：复用第一次授权时保存的加密客户 token 继续跑。适合仅号码注册这一步失败、不需要重新走一遍 Meta OAuth 授权的场景。
        - **提供新 `code`**：当旧 token 已失效（过期/被撤销）时，用它重新授权后再续跑。
        - 既没有新 `code` 也没有已保存的 token（例如从未成功授权过）：明确报错提示"需要重新授权"，而不是含糊失败。

        已经整体 completed 但当时未请求号码注册的 operation，也能通过本接口**单独补跑注册步骤**，不用重走全部流程。
      x-nav-label: 从失败步骤恢复
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: string · 可选 — OAuth code 失效时提供
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_embedded_signup_operationId_retry
  /v1/onboarding/invitations:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 为指定客户和 Business Portfolio 生成一次性接入链接。明文 URL 只在本响应里返回一次（库内只存哈希），请立即发给客户。
      description: 所需 scope：`onboarding:write`
      x-notes: "`portfolioId` 必须位于当前授权范围内，否则返回 404。Token 本身是 32 字节随机数的 base64url 编码（43 字符），库内只存其 SHA-256 哈希，明文只在本次创建响应出现一次，遗失只能重新生成——这与 API Key 的存储方式是同一套安全模型。创建人字段仅用于事后审计，不影响客户侧流程。"
      x-nav-label: 生成客户接入链接
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                  description: string · 可选 — 内部归属字段；客户调用时省略
                portfolioId:
                  type: string
                  description: string · 必填 — 必须属于目标租户，bm_...
                expiresInSeconds:
                  type: number
                  description: number · 可选 — 300 至 86400，默认 1800
              required:
                - portfolioId
              example:
                tenantId: tenant_x
                portfolioId: bm_x
                expiresInSeconds: 1800
            example:
              tenantId: tenant_x
              portfolioId: bm_x
              expiresInSeconds: 1800
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_invitations
    get:
      tags:
        - WhatsApp 客户接入
      summary: 列出当前账户已发出的邀请及其状态，不回显 Token。
      description: 所需 scope：`onboarding:read`
      x-notes: "`limit` 越界（超出 1–100）会被静默夹紧到边界值而非报错；列表按创建时间倒序排列，并始终限制在当前账户的授权范围内。响应体不含 Token 哈希或明文，无法从列表反推出可用的邀请链接。"
      x-nav-label: 列出当前账户已发出的邀请及其状态
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_onboarding_invitations
  /v1/onboarding/invitations/{id}:
    delete:
      tags:
        - WhatsApp 客户接入
      summary: 撤销当前账户中尚未使用的邀请；已完成的邀请不可撤销（返回 409）。
      description: 所需 scope：`onboarding:write`
      x-notes: 撤销的实现是一条 `WHERE status='pending'` 的条件更新，抢不到时会精确区分两种失败原因：「id 不存在」返回 404；「id 存在但状态已非 pending」返回 409，且错误信息里会带上当前实际状态（completed/failed/expired/revoked 之一），让客服/运维一眼看出这条链接是"已经被用过了"还是"已经过期了"，而不是笼统地告诉他们"撤销失败"。
      x-nav-label: 撤销当前账户中尚未使用的邀请
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: delete_v1_onboarding_invitations_id
  /v1/onboarding/invitations/{token}:
    get:
      tags:
        - WhatsApp 客户接入
      summary: 【客户侧，无需鉴权】读取邀请落地页所需的非机密信息（客户名、Meta appId/configId）。
      x-notes: 无效、过期、已撤销的 token 统一走同一个"邀请失效"响应出口（响应体的 status 字段会区分具体是哪一种，但页面文案不解释原因），刻意不向未持有有效链接的探测者泄露"这个 token 到底存不存在/为什么失效"这类信息。token 格式必须是合法的 43 字符 base64url 字符串，形状不符会直接 400，连哈希比对和数据库查询都不会发生，避免把畸形输入当成一次真实的查询开销。
      x-nav-label: 读取邀请落地页所需的非机密信息
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      security: []
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_onboarding_invitations_token
  /v1/onboarding/invitations/{token}/complete:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 【客户侧，无需鉴权】提交 Meta 授权结果并触发接入编排。租户与 Portfolio 只取自邀请记录，body 无法覆盖；多传字段会被拒绝。返回 202 不代表接入成功，须读 status。
      x-notes: |-
        #### 并发安全
        抢占顺序是先做一次原子的 `WHERE status='pending' AND expires_at>now()` 条件更新，抢到之后才开始跑编排——即使客户在落地页上手抖双击提交按钮，也不会在 Meta 侧并发建出两套订阅/资产。如果编排在真正建出 operation 记录之前就抛错（例如目标 Portfolio 在生成链接之后被平台方删除了），邀请会被自动放回 `pending` 以便客户重新提交，而不会永久卡死在"处理中"这个死态。

        #### 响应是脱敏投影
        只含 status/currentStep/steps/requiredInput/error，**不回** operation id 本身。其中 `requiredInput` 专门用来让落地页立即区分当前失败属于哪一类：
        - 需要客户**重新走一遍 Meta 授权**（换一个新 code 重试）
        - 客户端解决不了，**需要联系对接人**介入

        不必等下一轮 `/status` 轮询才能改判提示文案。
      x-nav-label: 提交 Meta 授权结果
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: string · 必填 — Meta OAuth 一次性授权码
                wabaId:
                  type: string
                  description: string · 必填 — Meta 返回的 WABA ID（纯数字）
                phoneNumberId:
                  type: string
                  description: string · 可选 — Meta 返回的 Phone Number ID（纯数字）。可以没有——ES v3 起客户可以只接入 WABA
                esVersion:
                  type: string
                  description: v2 | v3 | v4 · 可选 — 本次流程用的 ES 版本
                  enum:
                    - v2
                    - v3
                    - v4
                sessionInfo:
                  type: object
                  description: object · 可选 — ES 会话信息原文
                  additionalProperties: true
              required:
                - code
                - wabaId
              example:
                code: <META_OAUTH_CODE>
                wabaId: <META_WABA_ID>
                phoneNumberId: <META_PHONE_NUMBER_ID>
            example:
              code: <META_OAUTH_CODE>
              wabaId: <META_WABA_ID>
              phoneNumberId: <META_PHONE_NUMBER_ID>
      security: []
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_invitations_token_complete
  /v1/onboarding/invitations/{token}/retry:
    post:
      tags:
        - WhatsApp 客户接入
      summary: 【客户侧，无需鉴权】首次授权失败后，用新的 Meta code 继续**同一条** operation（不会新建接入任务）。只接受 code：wabaId/phoneNumberId 已记在 operation 上，重试时不允许更换目标资产。仅 failed 且链接未过期的邀请可重试；已完成的返回 409。
      x-notes: |-
        #### 抢占失败时的诊断
        抢占条件比 complete 更严格：要求邀请状态恰好是 `failed`、链接未过期、且已经绑定过 operationId。抢不到时不会笼统报错，而是先诊断具体原因再给出对应提示：
        - `completed` → "无需重试"
        - `pending`（从未成功提交过）→ "尚未提交过，请先完成授权"
        - `running`（正在处理中）→ "正在处理中，请稍候"，并标注 `retryable:true` 供落地页轮询
        - `failed` 但链接已过期 → 等价于"邀请已失效"

        #### 续跑语义
        底层复用 retryEmbeddedSignup **从上次失败的那一步续跑**，已经成功执行过的订阅/号码注册步骤不会重复执行。如果这次重试又抛错，邀请会被放回 `failed`（而不是像 complete 失败时那样放回 pending）——刻意保持"已经提交过一次"的语义，保证下一次仍然走本接口而不是误落回首次提交的 complete。
      x-nav-label: 首次授权失败后
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: string · 必填 — 新的 Meta OAuth 一次性授权码
              required:
                - code
              example:
                code: <FRESH_META_OAUTH_CODE>
            example:
              code: <FRESH_META_OAUTH_CODE>
      security: []
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_onboarding_invitations_token_retry
  /v1/onboarding/invitations/{token}/status:
    get:
      tags:
        - WhatsApp 客户接入
      summary: 【客户侧，无需鉴权】轮询接入进度。仅返回脱敏步骤与错误，不含任何 Token、code 或租户信息。
      x-notes: 若邀请尚未成功调用过 complete（还没绑定 operationId），会返回一个占位结构（currentStep 为 null、steps 为空数组、result 为 null），而不是报错，落地页据此展示"等待客户提交"的初始态。一旦绑定了 operation，本接口会直接转发该 operation 的脱敏步骤/错误视图，与 complete/retry 两个接口的响应共享同一份底层数据源，因此三者对"同一次接入现在进展到哪一步"的描述永远一致，不会出现轮询结果和提交结果自相矛盾的情况。另外，接入本身成功与信用额度（credit line）分享成功是两个完全独立的状态位——额度还没同步不会让本接口把整个接入进度报告成失败，避免误导客户以为接入没做完。
      x-nav-label: 轮询接入进度
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      security: []
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_onboarding_invitations_token_status
  /v1/business-portfolios/{portfolioId}/certification:
    get:
      tags:
        - 商业验证（PLBV）
      summary: 读取最近认证记录；未提交过返回 404。
      x-notes: 只读本地缓存的最近一次提交记录，**不会**主动查 Meta 的最新状态——要拿到最新状态必须显式调用 `.../certification/refresh`，这个只读接口设计成零外呼开销，适合门户页面频繁刷新展示而不担心触发 Meta 限流。
      x-nav-label: 读取最近认证记录
      parameters:
        - name: portfolioId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_business_portfolios_portfolioId_certification
  /v1/business-portfolios/{portfolioId}/certification/refresh:
    post:
      tags:
        - 商业验证（PLBV）
      summary: 主动查询并同步该客户最新的 PLBV submission。
      x-notes: 服务会使用已配置的 Meta 授权查询该客户名下最新的 PLBV submission，按客户 Meta Business ID 过滤，并按更新时间取最新一条保存。若标准验证已经通过，或者客户尚未完成 Embedded Signup 且本地也没有任何 Meta 侧历史记录，会直接返回 `not_applicable`，并分别标注原因 `standard_verification_complete` 或 `embedded_signup_required`。
      x-nav-label: 刷新 PLBV 认证
      parameters:
        - name: portfolioId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_business_portfolios_portfolioId_certification_refresh
  /v1/business-portfolios/{id}/refresh-verification:
    post:
      tags:
        - 商业验证（PLBV）
      summary: 同步 Business Portfolio 的标准验证状态与 PLBV 认证状态。
      x-notes: "服务会使用已保存的 Meta 授权查询标准 `verification_status`；如果 Meta 没有返回该字段，会改查 WABA 的 `business_verification_status` 作为替代信号。两者都拿不到时返回 `unknown`/`unavailable`，不会因此中断。若标准验证已通过，响应附带 `certificationStatus: not_applicable`；否则继续刷新 PLBV 状态并一并返回，避免页面短暂显示不一致的数据。"
      x-nav-label: 同步验证状态
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_business_portfolios_id_refresh_verification
  /v1/business-portfolios/{id}/token-scopes:
    get:
      tags:
        - 商业验证（PLBV）
      summary: 诊断该 portfolio 的客户 Embedded Signup token 被 Meta 授予了哪些 scope（经 debug_token）。用于判断 analytics/WABA 状态的权限报错是 token 缺 whatsapp_business_management 还是平台 App 缺 Advanced Access。不回显 token 本身。
      description: 所需 scope：`onboarding:read`
      x-notes: 依赖平台自身的 App ID + App Secret 配置齐全才能调用 Meta `debug_token` 接口；未配置时该诊断能力本身失效，会返回 500，而不是"该 token 没有任何 scope"的空结果，两者语义完全不同，混淆会导致误判成客户授权问题。响应除了顶层 `scopes` 数组外还回显 `granularScopes`（含每条权限具体绑定的 `targetIds`），原因是像 `whatsapp_business_management` 这类权限在 Meta 侧可能被限定到具体的 WABA/business id 范围内——只看顶层 scope 列表会漏判"这个 token 确实有这项权限，但没有覆盖到你正在操作的这个具体资产"这种更隐蔽的报错情形。
      x-nav-label: 诊断客户 Token Scopes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_business_portfolios_id_token_scopes
  /v1/business-portfolios/{id}/dataset:
    post:
      tags:
        - 资产与号码配置
      summary: 绑定或更换该 Business Portfolio 的 Meta Pixel（dataset）。同时把此前因缺 Pixel 而跳过的转化事件重新排队。
      description: 所需 scope：`onboarding:write`
      x-notes: |-
        正常情况下**不需要调用这个接口**：客户在嵌入式注册（ES v4，登录配置里勾选 Conversions API）时选择的 Pixel 会自动关联到 Business Portfolio。它用于两种情况：客户是在 v4 之前接入的，或者当时没有完成 Pixel 选择。

        #### 会重放此前跳过的事件

        在没有 Pixel 期间收到的转化事件是**存下来了**的（状态 `skipped`）——webhook 不会重投，事件不可重造，所以宁可先存。绑定成功后它们会被重新排队，响应里的 `requeuedConversionEvents` 是这次重放的条数。只重放 `skipped`：`failed` 的失败原因各不相同（权限、参数），一并重放会把确定失败的事件也捞回来反复重试。

        Graph API 上查不到 Business Portfolio 与 Pixel 的绑定关系，因此 BlueMedia 只能依据 ES 会话信息或本接口保存该关联。
      x-nav-label: 绑定 Meta Pixel
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                datasetId:
                  type: string
                  description: string · 必填 — Meta Pixel / dataset id（纯数字）
              required:
                - datasetId
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_business_portfolios_id_dataset
  /v1/business-portfolios:
    post:
      tags:
        - 资产与号码配置
      summary: 手工创建 Portfolio；推荐使用 Embedded Signup。
      x-notes: 属于手工兜底路径，正常客户接入流程应该走 Embedded Signup（会自动建出 Portfolio 并挂上 WABA），这个接口主要给运维处理特殊/历史数据用；`metaBmId`（对应 Meta 那边真实的 Business Manager ID）可以先留空，后续再通过 PATCH 补上，但一旦补上就会触发 PATCH 里描述的那些校验联动。
      x-nav-label: 手工创建 Portfolio
      responses:
        "200":
          description: OK
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPortfolio"
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_business_portfolios
    get:
      tags:
        - 资产与号码配置
      summary: 列出当前 API Key 可访问的 Business Portfolios。
      x-notes: 只返回当前 API Key 授权范围内的 Business Portfolio。调用方不能通过查询参数扩大可见范围；无权访问或不存在的资源不会通过本接口泄露。
      x-nav-label: 列出 Portfolios
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BusinessPortfolio"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_business_portfolios
  /v1/business-portfolios/{id}:
    get:
      tags:
        - 资产与号码配置
      summary: 读取 Portfolio 详情。
      x-notes: 没有跨租户查看能力，只按当前凭证的 tenant 上下文查询（由 RLS 强制），查不到统一返回 404，不区分"这个 id 根本不存在"和"这个 id 存在但属于别的租户"两种情况，避免通过错误码差异探测出别人是否拥有某个资源 id。
      x-nav-label: 读取 Portfolio 详情
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPortfolio"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_business_portfolios_id
    patch:
      tags:
        - 资产与号码配置
      summary: 修改 Business Portfolio 名称或 Meta Business Manager ID。
      x-notes: 修改 `metaBmId`（客户在 Meta 的 Business Manager ID）是敏感操作：一旦该 Business Portfolio 已挂载任何 WABA，就禁止改绑并返回 409，需要先删除这些 WABA。若旧值非空但尚未挂载 WABA，改绑会清空现有验证状态（恢复为 `unknown` / `unavailable`）并删除相关子对象，因为验证结果绑定到具体的 Meta Business Manager；更换后旧验证结果不再有效。
      x-nav-label: 修改 Portfolio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPortfolio"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: patch_v1_business_portfolios_id
    delete:
      tags:
        - 资产与号码配置
      summary: 删除 Business Portfolio。cascade=true 时自上而下连同子对象一起删除（计费账本与信用账户不受影响，仅在有在途信用预留时返回 409）；不带该参数则保持原行为：存在子对象时返回 409。
      x-notes: "`cascade=true` 会自上而下一次性删除该 Business Portfolio 下所有 WABA、号码及相关业务数据，但计费账本（`ledger_entries`）与信用账户状态会**始终保留**，以保证财务记录可追溯。两种删除模式都将在存在在途信用预留时拒绝删除，避免删除操作与正在处理的扣费流程冲突。"
      x-nav-label: 删除 Business Portfolio
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: cascade
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: delete_v1_business_portfolios_id
  /v1/business-portfolios/{id}/delete-preview:
    get:
      tags:
        - 资产与号码配置
      summary: 级联删除影响预览：返回将被删除的 WABA/号码/消息等数量。只读。
      x-notes: 纯只读统计，调用本身不会触发任何实际删除操作；返回体里的 `heldReservations`（在途信用预留笔数）如果大于 0，意味着即便随后调用 DELETE 并带上 cascade=true，也会被拒绝——把这个数字提前展示出来，可以让操作者在真正点删除之前就知道"现在还不能删，得等这些在途消息落定"，而不是删除请求发出去才被拒绝。
      x-nav-label: Portfolio 删除影响预览
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: 将被(或已被)删除的关联对象数量。heldReservations > 0 时级联删除会被拒绝。
                additionalProperties:
                  type: integer
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_business_portfolios_id_delete_preview
  /v1/wabas:
    post:
      tags:
        - 资产与号码配置
      summary: 手工创建 WABA 记录。
      x-notes: 同样属于手工兜底路径；正常情况下 WABA 应该通过 Embedded Signup 自动创建，或者随后台从 Meta 同步资产时自动补建。会校验 portfolioId 确实归属当前租户，不属于或不存在都返回 404；创建时如果带上了 metaWabaId，平台会同步维护一份跨租户的反查索引（`meta_resource_index`）——这个索引是入站 webhook 处理链路的关键依赖：Meta 推来的 webhook payload 里只有 Meta 自己的 WABA id，平台靠这份索引才能反查出这条消息该落到哪个 tenant/portfolio 下，缺了这一步整条 webhook 处理就会失去归属。
      x-nav-label: 手工创建 WABA 记录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portfolioId:
                  type: string
                  description: string · 必填 — 所属 bm_...
                name:
                  type: string
                  description: string · 必填 — WABA 名称
                timezone:
                  type: string
                  description: string · 可选 — 时区
                defaultCurrency:
                  type: string
                  description: string · 可选 — 币种
                metaWabaId:
                  type: string
                  description: string · 可选 — Meta WABA ID
              required:
                - portfolioId
                - name
              example:
                portfolioId: bm_x
                name: Acme 组合
                metaWabaId: <waba_id>
            example:
              portfolioId: bm_x
              name: Acme 组合
              metaWabaId: <waba_id>
      responses:
        "200":
          description: OK
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Waba"
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_wabas
    get:
      tags:
        - 资产与号码配置
      summary: 列出 WABA，可按 Portfolio 过滤。
      x-notes: portfolioId 传空字符串等价于完全不传，都视为"不做过滤"，此时只按当前租户上下文列出全部 WABA，不会因为传了个空字符串就返回空列表——调用方在前端拼参数时如果条件变量恰好是空串，不需要额外判断去删掉这个 query key。
      x-nav-label: 列出 WABA
      parameters:
        - name: portfolioId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Waba"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_wabas
  /v1/wabas/{id}:
    get:
      tags:
        - 资产与号码配置
      summary: 读取 WABA 详情。
      x-notes: 仅按当前租户上下文查询（RLS + 显式过滤双重限制），不存在或不属于当前租户统一返回 404，不透露该 id 是否真实存在于别的租户名下。
      x-nav-label: 读取 WABA 详情
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Waba"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_wabas_id
    patch:
      tags:
        - 资产与号码配置
      summary: 修改名称、验证状态或审核状态。
      x-notes: "`verificationStatus`/`accountReviewStatus` 这两个字段在正常流程里应该由 `refresh-verification`（Portfolio 侧接口）或 Meta 推来的 webhook 自动同步写入，本接口允许直接手动改写，本质上是给运维一个绕开自动流程手动纠正数据的口子——调用本接口不会触发任何对 Meta 的调用，也不做任何跟真实 Meta 状态的一致性校验，写进去就是什么，用错了会造成本地记录和 Meta 实际状态不一致。"
      x-nav-label: 修改名称、验证状态或审核状态
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Waba"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: patch_v1_wabas_id
    delete:
      tags:
        - 资产与号码配置
      summary: 删除 WhatsApp 账户。cascade=true 时自上而下连同子对象一起删除（计费账本与信用账户不受影响，仅在有在途信用预留时返回 409）；不带该参数则保持原行为：存在子对象时返回 409。
      x-notes: 不带 cascade 参数时，只要这个 WABA 下还挂着号码、模板，或者存在关联的 Embedded Signup 记录这三类子对象中的任意一种，就会返回 409（响应体里会标注具体是哪一类依赖挡住了删除，不用去猜）；cascade=true 时则会连同这些子对象一起自上而下全部删除，但计费账本流水和信用账户状态不受影响，始终保留。两种模式都受同一条"存在在途信用预留就一律不许删"的闸门约束，不管带不带 cascade 都绕不过去。
      x-nav-label: 删除 WhatsApp 账户
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: cascade
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: delete_v1_wabas_id
  /v1/wabas/{id}/credit-line/authorize:
    post:
      tags:
        - 资产与号码配置
      summary: 授权 BlueMedia 信用额度并挂载到该 WABA。Meta 会先向客户的 Business Portfolio 共享额度，再挂载到指定 WABA，因此同一 Portfolio 下的其它 WABA 会共享授权。重复调用不会重复授权或重复挂载；挂载失败仍返回 200，原因见 waba.error。
      description: 所需 scope：`onboarding:write`
      x-notes: |-
        #### `attached_no_budget`：挂上了，但没给钱

        共享接口（`whatsapp_credit_sharing_and_attach`）**不带金额参数**，分配额要由有 **Finance editor** 角色的人在 Meta Business Suite 的「账单和付款 → 信用额度」里另外划——API 改不了（写 amount 会被 Meta 以 `#49101 receiving business is not a child business manager` 挡回）。
        分配额为 0 时这个状态**看起来完全正常**：`request_status: APPROVED`、WABA 的 `primary_funding_id` 与接收凭证一致，号码、模板、WABA、Business Portfolio 和 App 的 `health_status` 全是 `AVAILABLE`；而每条模板消息都会被 Meta 受理（**返回 wamid**）后在扣费阶段以 `131042` 判失败。所以挂载后会读取分配额，为 0 就记成 `attached_no_budget`，具体指引在 `error` 里。
        这个状态**不阻止发送**（「0 = 没预算」是从实测案例推出来的语义，不是 Meta 文档写明的；万一别的配置里 0 表示不限额，拦下去会把能正常发的客户弄停）。人划完额度后每 5 分钟自动重查一次，也可以直接再调本接口立即重查。

        #### 挂载失败分两类

        - **不可重试**：典型场景是"该 WABA 尚未共享给 BSP 系统用户"（对应 Meta 错误码约 200/1752257）或币种参数不合法。这类失败下 `error.retryable=false`，平台**不会**安排下一次自动重试，后台 scheduler 也不会再捡起来试——必须人工介入排查共享关系或参数后重新调用本接口。
        - **可重试**：网络抖动、Meta 侧 5xx、限流等。按指数退避自动处理——初始等待 30 秒、随失败次数倍增、上限封顶 1 小时，并带确定性抖动（基于 WABA id 计算的固定偏移，而非随机数）避免同一批一起失败的 WABA 在同一时刻集中醒来造成瞬时压力。这类失败**不需要**客户端手动重复调用。

        #### 审计

        调用方需要 `onboarding:write` scope。门户会话操作时 `authorizedBy` 记录门户账号 id；纯 API Key 调用记为 null，仅用于事后审计"谁批准了这笔额度授权"。
      x-nav-label: 授权 BlueMedia 信用额度并挂载到该 WABA
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  portfolio:
                    type: object
                    description: Business Portfolio 的额度授权状态
                    properties:
                      portfolioId:
                        type: string
                      status:
                        type: string
                        description: not_authorized | authorized | revoked
                      allocationConfigId:
                        type:
                          - string
                          - "null"
                      authorizedBy:
                        type:
                          - string
                          - "null"
                        description: 门户账号 id；API Key 调用为 null
                      authorizedAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                  waba:
                    type: object
                    description: WABA 级挂载结果
                    properties:
                      wabaId:
                        type: string
                      metaWabaId:
                        type: string
                      status:
                        type: string
                        description: attached | attached_no_budget | failed | attaching | pending | not_authorized | revoked
                      currency:
                        type: string
                      allocationConfigId:
                        type:
                          - string
                          - "null"
                      calledMeta:
                        type: boolean
                        description: false 表示幂等短路或未抢到并发锁
                      error:
                        type:
                          - object
                          - "null"
                        description: 挂载失败原因；retryable=false 表示不会自动重试（如该 WABA 未共享给我们）
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_wabas_id_credit_line_authorize
  /v1/wabas/{id}/credit-line/deauthorize:
    post:
      tags:
        - 资产与号码配置
      summary: 取消该 WABA 所属 Business Portfolio 的 BlueMedia 信用额度授权，之后发送模板消息会被 CREDIT_LINE_NOT_READY 拦下。**只更新 BlueMedia 状态，不调用 Meta 撤销**：Meta 的撤销按客户 business 生效，会连带影响该客户全部已共享 WABA，且额度线挂到 WABA 后无法单独摘除。影响范围是整个 Business Portfolio。
      description: 所需 scope：`onboarding:write`
      x-notes: |-
        #### 撤销后的本地行为

        - 立即拦截该 Business Portfolio 下**所有** WABA（包括已是 `attached` 状态的）继续发送模板消息的请求。
        - 清空之前排好的"下一次自动重试挂载"时间点，避免后台 scheduler 在授权已撤销后还把这个 WABA 捡回去重试。

        #### 为什么是纯本地操作

        整个过程**不向 Meta 发出任何调用**（原因见上方说明：Meta 侧无法单独摘除单个 WABA 的额度线）。因此如果之后重新调用 authorize，也不会走"Meta 侧其实已经共享过了"这类幂等短路逻辑——重新授权的判断只依据本地状态，与 Meta 此刻真实的共享情况完全脱钩。
      x-nav-label: 取消额度授权
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_wabas_id_credit_line_deauthorize
  /v1/wabas/{id}/delete-preview:
    get:
      tags:
        - 资产与号码配置
      summary: 级联删除影响预览：返回将被删除的号码/模板/消息等数量。只读。
      x-notes: 纯只读统计，不产生任何副作用；`heldReservations` 大于 0 表示这个 WABA 下当前存在在途消息（信用已被预留但尚未结算），之后如果真的调用带 cascade 的删除会被拒绝，这里提前给出数字方便操作者判断是否需要先等这些消息状态落定。
      x-nav-label: WABA 删除影响预览
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: 将被(或已被)删除的关联对象数量。heldReservations > 0 时级联删除会被拒绝。
                additionalProperties:
                  type: integer
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_wabas_id_delete_preview
  /v1/wabas/{id}/analytics:
    get:
      tags:
        - 资产与号码配置
      summary: "直接查询该 WABA 在 Meta 侧的用量/费用分析，作为本地账本用量视图的交叉核对。messaging 与 pricing 两个字段各自独立请求、独立汇报成败：响应为 { messaging: {ok, data|error}, pricing: {ok, data|error} }，任一字段被 Meta 拒绝时另一字段仍返回数据，错误里带 Meta 原始 code/subcode。注意 pricing 的 COST 对共享 Solution Partner 信用额度的 WABA 不会返回。"
      description: 所需 scope：`billing:read`
      x-notes: |-
        #### 参数校验

        - `start`/`end`：必须能解析成有限数字的 unix 时间戳，解析失败直接 400。
        - `granularity`：只严格接受 `HALF_HOUR`/`MONTH` 两个非默认取值，传其它任何值（包括缺省）都**静默落回 `DAY`**——接口不会帮你纠正拼写提醒，调用方需自行确认。
        - `phoneNumbers`：严格校验为纯数字（每段号码 id 最多 32 位）。这些值会被直接拼进发往 Meta Graph API 的字段过滤表达式（形如 `.phone_numbers(id1,id2)`），未经净化的输入理论上可借助 `)`、`.` 突破过滤器边界改写整个表达式——这条校验不是可选的健壮性检查，而是防注入闸门。

        #### Meta 授权状态

        服务会自动选择已保存且可用的 Meta 授权信息。若该 Business Portfolio 尚未完成 Meta 授权或授权已经失效，返回 **409 而不是 404**——问题不在于“这个 WABA 不存在”，而在于当前无法代表客户向 Meta 查询数据。
      x-nav-label: 查询 WABA 用量分析
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: query
          required: true
          schema:
            type: string
        - name: end
          in: query
          required: true
          schema:
            type: string
        - name: granularity
          in: query
          required: false
          schema:
            type: string
        - name: phoneNumbers
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_wabas_id_analytics
  /v1/phone-numbers:
    post:
      tags:
        - 资产与号码配置
      summary: 手工创建业务号码记录。
      x-notes: 只在本地创建号码记录，不调用 Meta；号码必须先在 WhatsApp Manager 完成添加与所有权验证，这里只是把已知号码同步到当前账户。`coexistenceMode` 是自由文本记录字段（默认 `none`），当前不校验取值，也不驱动任何 Meta 调用逻辑。
      x-nav-label: 手工创建业务号码记录
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wabaId:
                  type: string
                  description: string · 必填 — 所属 waba_...
                displayNumber:
                  type: string
                  description: string · 必填 — 展示号码
                verifiedName:
                  type: string
                  description: string · 可选 — 已验证名称
                coexistenceMode:
                  type: string
                  description: string · 可选 — 共存模式
              required:
                - wabaId
                - displayNumber
              example:
                wabaId: waba_...
                metaPhoneNumberId: <phone_number_id>
                displayNumber: "+8613800000000"
            example:
              wabaId: waba_...
              metaPhoneNumberId: <phone_number_id>
              displayNumber: "+8613800000000"
      responses:
        "200":
          description: OK
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumber"
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers
    get:
      tags:
        - 资产与号码配置
      summary: 列出号码，可按 WABA 过滤。
      x-notes: 纯本地查询，不触达 Meta，因此 status/qualityRating 等字段是上次 PATCH 或同步时写入的快照，不代表实时状态；要拿实时状态用 registration-status。
      x-nav-label: 列出号码
      parameters:
        - name: wabaId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PhoneNumber"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_phone_numbers
  /v1/phone-numbers/{id}:
    get:
      tags:
        - 资产与号码配置
      summary: 读取号码详情。
      x-notes: 同上，本地快照读取，不实时查询 Meta。
      x-nav-label: 读取号码详情
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumber"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_phone_numbers_id
    patch:
      tags:
        - 资产与号码配置
      summary: 更新名称、质量、消息限制、吞吐或状态。
      x-notes: 只更新本地字段，不会调用 Meta，也不会触发 Meta 侧的显示名审核或注册流程；若要真正修改 Meta 上的显示名或状态，需走 display-name、register 等生命周期接口。
      x-nav-label: 更新名称、质量、消息限制、吞吐或状态
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumber"
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: patch_v1_phone_numbers_id
    delete:
      tags:
        - 资产与号码配置
      summary: 删除业务号码（同时清理本地商业资料与消息配置）。cascade=true 时自上而下连同子对象一起删除（计费账本与信用账户不受影响，仅在有在途信用预留时返回 409）；不带该参数则保持原行为：存在子对象时返回 409。
      x-notes: 平台自身的资源删除，与 Meta 的"从 WABA 删除号码"是两件事——Meta 官方文档明确号码本身**不能通过 API 删除**，只能在 WhatsApp Manager 里删（且 30 天内发过收费消息的号码不可删）；本接口删除的只是平台侧记录及其子资源，完全不调用 Meta 接口。不带 cascade 时存在子对象直接 409；带 cascade=true 时自上而下删除，账本流水与信用账户始终不受影响，仅当存在在途信用预留时才拒绝。
      x-nav-label: 删除业务号码
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: cascade
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: delete_v1_phone_numbers_id
  /v1/phone-numbers/{id}/registration-status:
    get:
      tags:
        - 资产与号码配置
      summary: 查询 Meta 注册、名称、质量和两步验证状态。
      description: 所需 scope：`phone_numbers:read`
      x-notes: 实时调用 Meta Graph API 读取该号码字段。若该号码所属 Business Portfolio 尚未完成 Meta 授权或授权已经失效，返回 409。
      x-nav-label: 查询 Meta 注册、名称、质量和两步验证状态
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: get_v1_phone_numbers_id_registration_status
  /v1/phone-numbers/{id}/refresh:
    post:
      tags:
        - 资产与号码配置
      summary: 拉取 Meta 侧号码状态并落库。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: |-
        和 `GET :id/registration-status` 读的是同一批 Meta 字段，区别在于**这个会写库**：把 nameStatus / qualityRating / verifiedName / messagingLimitTier / throughputLevel 更新到号码行上，之后 `GET /v1/phone-numbers` 和门户列表就能看到。接入完成后平台会自动刷一次，这个接口是手动补一次的入口。

        #### 为什么需要它
        `nameStatus` 不是 APPROVED 时，Meta 不允许该号码发送消息（会得到 #131037 / #2388103）。不落库的话这个号码在门户上和正常号码看起来一模一样（已连接、质量 GREEN），只能等真正发送被拒才发现，而那时额度预留、扣费、冲正已经走完一整圈。

        #### 只覆盖 Meta 权威字段
        - Meta 没返回的字段**不写**，不会把已有的正确值擦成 null（Meta 只返回请求到的字段）。
        - 不动 wabaId 等本地归属信息。
        - 归在 `phone_numbers:manage` 而不是 `:read`，因为它写库。
      x-nav-label: 拉取 Meta 侧号码状态
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumber"
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_refresh
  /v1/phone-numbers/{id}/register:
    post:
      tags:
        - 资产与号码配置
      summary: 用 6 位 PIN 注册号码。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: |-
        `pin` 是双重语义：既是"首次注册时设置的两步验证 PIN"，也是"号码已开启两步验证时的现有 PIN"，Meta 不区分这两种情况。

        #### 前置条件
        本接口**不检查**是否已完成 request-code/verify-code：
        - 已在 WhatsApp Manager 验证过所有权的号码 → 可直接注册。
        - 未验证所有权的号码直接 register → 会被 Meta 拒绝（先走 request-code/verify-code）。

        #### 限流
        72 小时内最多 10 次注册请求（Meta 侧规则），超限会封禁该号码 72 小时的注册能力。成功后本地状态被硬编码为已连接，不解析 Meta 返回体做校验。
      x-nav-label: 用 6 位 PIN 注册号码
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pin:
                  type: string
                  description: string · 必填 — 6 位数字
              required:
                - pin
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_register
  /v1/phone-numbers/{id}/deregister:
    post:
      tags:
        - 资产与号码配置
      summary: 从 Cloud API 注销号码。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: 仅使号码在 Cloud API 侧失效，**不删除号码或消息历史**；重新使用需再次 register。同样有 72 小时 10 次的限流；号码若同时用于 WhatsApp Business App 和 Cloud API（coexistence）时 Meta 会拒绝此调用。成功后本地状态硬编码为已注销。
      x-nav-label: 从 Cloud API 注销号码
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_deregister
  /v1/phone-numbers/{id}/request-code:
    post:
      tags:
        - 资产与号码配置
      summary: 请求 SMS/VOICE 验证码。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: 是号码验证流程的第一步，用于尚未通过所有权验证的号码获取验证码；若号码已验证再调用会被 Meta 拒绝。与 register 是两条独立流程：request-code + verify-code 验证的是号码所有权，register 才是接入 Cloud API，二者顺序不由本接口强制，需业务方按状态自行判断。
      x-nav-label: 请求 SMS/VOICE 验证码
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                codeMethod:
                  type: string
                  description: SMS | VOICE · 必填 — 验证码发送方式
                  enum:
                    - SMS
                    - VOICE
                language:
                  type: string
                  description: string · 可选 — 默认 en_US
              required:
                - codeMethod
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_request_code
  /v1/phone-numbers/{id}/verify-code:
    post:
      tags:
        - 资产与号码配置
      summary: 提交 Meta 返回的 6 位验证码。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: 提交上一步 request-code 收到的验证码以完成所有权验证；验证码有时效（约 10 分钟）且一次性，多次失败可能触发 Meta 侧临时限制。验证通过后号码具备被 register 的前提，但本接口不会自动触发注册，仍需显式调用 register。
      x-nav-label: 提交 Meta 返回的 6 位验证码
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: string · 必填 — 6 位数字
              required:
                - code
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_verify_code
  /v1/phone-numbers/{id}/two-step-pin:
    post:
      tags:
        - 资产与号码配置
      summary: 设置或轮换两步验证 PIN。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: Meta 侧没有关闭两步验证的 API（只能在 WhatsApp Manager 手动关闭），本接口只能设置新 PIN 不能禁用；忘记旧 PIN 时可直接用本接口设新值覆盖，无需先验证旧 PIN。
      x-nav-label: 设置或轮换两步验证 PIN
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pin:
                  type: string
                  description: string · 必填 — 6 位数字
              required:
                - pin
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_two_step_pin
  /v1/phone-numbers/{id}/display-name:
    post:
      tags:
        - 资产与号码配置
      summary: 提交新的显示名称并进入 Meta 审核。
      description: 所需 scope：`phone_numbers:manage`
      x-notes: 提交后进入 Meta 审核，不会立即生效在当前会话/聊天列表中显示。审核通过（收到显示名更新 webhook）后必须重新调用 register 才能把新名称同步到 WhatsApp 服务端；在审核通过前重复提交或再次 register 无效果。30 天内最多改名 10 次。
      x-nav-label: 提交新的显示名称
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newDisplayName:
                  type: string
                  description: string · 必填 — 新的显示名称
              required:
                - newDisplayName
      responses:
        "200":
          description: OK
        "201":
          description: Created
        "202":
          description: Accepted
        4xx:
          description: 客户端错误
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      operationId: post_v1_phone_numbers_id_display_name
  /v1/phone-numbers/{id}/delete-preview:
    get:
      tags:
        - 资产与号码配置
[...]
